body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#1d1d1d;
    font-family:Arial,sans-serif;
}

.player{
    width:350px;
    background:#fff;
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,.3);
}

.cover{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
}

h1{
    color:#6a0dad;
    margin:10px 0;
}

h3{
    margin:10px 0;
    color:#000;
}

p{
    color:gray;
    margin-bottom:20px;
}

.controls{
    display:flex;
    justify-content:center;
    gap:20px;
}

.controls button{
    width:60px;
    height:60px;
    border:none;
    border-radius:50%;
    background:#6a0dad;
    color:#fff;
    font-size:24px;
    cursor:pointer;
    transition:.3s;
}

.controls button:hover{
    background:#4b0082;
    transform:scale(1.1);
}